<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="max-w-[400px] w-full mx-auto mt-12"
>
  @if (backendErrors) {
  <div class="">
    <eCommerce-backend-error-messages [backendErrors]="backendErrors">
    </eCommerce-backend-error-messages>
  </div>
  }@else { }
  <!-- name -->
  <div class="mt-[19px]">
    <input
      formControlName="name"
      type="text"
      name="name"
      placeholder="Name"
      class="border-b-[1px] border-base-content/50 placeholder:text-[1.1rem] placeholder:text-base-content/50 h-[3.5rem] outline-none text-2xl w-full bg-inherit"
    />
  </div>

  <!-- company -->
  <div class="flex gap-6">
    <div class="mt-[19px]">
      <select
        name="company"
        id="company"
        class="select select-bordered select-sm"
        formControlName="company"
      >
        <option key="ikea" value="ikea">ikea</option>
        <option key="tjena" value="tjena">tjena</option>
        <option key="baggego" value="baggego">baggego</option>
        <option key="portvakt" value="portvakt">portvakt</option>
      </select>
    </div>

    <!-- category -->
    <div class="mt-[19px]">
      <select
        name="category"
        id="category"
        class="select select-bordered select-sm"
        formControlName="category"
      >
        <option key="wooden" value="wooden">wooden</option>
        <option key="children" value="children">children</option>
        <option key="glass" value="glass">glass</option>
        <option key="decorative" value="decorative">decorative</option>
      </select>
    </div>
  </div>

  <div class="mt-[19px]">
    <input
      formControlName="image"
      type="file"
      name="image"
      placeholder="image"
      class=""
    />
  </div>

  <!-- description -->
  <div class="mt-[19px]">
    <textarea
      formControlName="description"
      type="text"
      rows="4"
      cols="50"
      name="description"
      placeholder="Description"
      class="border-b-[1px] border-base-content/50 placeholder:text-[1.1rem] placeholder:text-base-content/50 h-[3.5rem] text-2xl w-full bg-inherit"
    >
 Description
    </textarea>
  </div>

  <!-- price -->
  <div class="mt-[19px]">
    <input
      formControlName="price"
      type="number"
      name="price"
      placeholder="Price"
      class="border-b-[1px] border-base-content/50 placeholder:text-[1.1rem] placeholder:text-base-content/50 h-[3.5rem] outline-none text-2xl w-full bg-inherit"
    />
  </div>

  <!-- button -->
  <div class="mt-8">
    <button
      class="btn bg-accent/80 hover:bg-accent/90 text-accent-content font-medium btn-block rounded-sm uppercase h-[64px] tracking-wide disabled-btn"
      [disabled]="form.invalid || isSubmitting"
    >
      Send
    </button>
  </div>
</form>
