<section class="align-element pb-12">
  <div class="mt-16 flex justify-end">
    <div class="join">
      <button
        class="btn btn-xs sm:btn-md join-item bg-accent hover:bg-accent/70"
      >
        Prev
      </button>

      <button
        key=""
        className="btn btn-xs sm:btn-md border-none join-item 
      "
      >
        1122
      </button>

      <button
        class="btn btn-xs sm:btn-md join-item bg-accent hover:bg-accent/70"
      >
        Next
      </button>
    </div>
  </div>
</section>
