<div class="bg-primary/15 grid md:grid-cols-2 items-center">
  <!-- STEP 01 -->
  <div class="flex flex-col gap-3 p-24 h-full">
    <h2 class="justify-self-start font-bold text-[2.5rem] tracking-wide">
      A Perfect Space-Saving Solution
    </h2>
    <h4 class="">Discover our Murphy Beds</h4>
    <p class="step-description">
      Find your ergonomic match with our interactive quiz, designed to identify
      the ideal performance seating for your body type, living space, and work
      style.
    </p>
  </div>

  <div
    class="group step-img-box relative h-[37rem] overflow-hidden flex-1 object-fill hover:bg-opacity-40"
  >
    <img
      src="/assets/hero.jpeg"
      class="h-full hover:opacity-70 transition-all duration-300"
      alt=""
    />
    <span
      class="font-bold text-base-content text-2xl absolute left-[-22rem] bottom-[10rem] group-hover:left-[5rem] hover:font-extrabold hover:text-info transition-all duration-500"
    >
      For Children
    </span>
    <div
      class="font-semibold text-base-content text-1xl absolute left-[-22rem] bottom-[8rem] group-hover:left-[5rem] hover:font-extrabold hover:text-info transition-all duration-300"
    >
      12200 TL
    </div>
    <button
      class="btn bg-accent hover:bg-accent/90 border-0 absolute left-[4rem] bottom-[-22rem] group-hover:bottom-12 w-[22rem] rounded-full transition-all duration-300"
    >
      See Products
    </button>
  </div>

  <!-- STEP 02 -->
  <div
    class="step-img-box relative h-[37rem] overflow-hidden group flex-1 object-fill"
  >
    <!-- style="background: right / cover no-repeat url(/assets/hero.jpeg)" -->
    <img
      src="/assets/hero.jpeg"
      class="h-full hover:opacity-70 transition-all duration-300"
      alt=""
    />
    <div
      class="font-bold text-base-content text-2xl absolute right-[4rem] top-[-22rem] group-hover:top-[5rem] hover:font-extrabold hover:text-info transition-all duration-500"
    >
      For Children
    </div>
    <div
      class="font-semibold text-base-content text-1xl absolute top-[-22rem] right-[8rem] group-hover:top-[8rem] hover:font-extrabold hover:text-info transition-all duration-300"
    >
      12200 TL
    </div>
    <button
      class="btn bg-accent hover:bg-accent/90 border-0 absolute right-[-22rem] top-[12rem] group-hover:right-12 w-[22rem] rounded-full transition-all duration-300"
    >
      See Products
    </button>
  </div>

  <div class="flex flex-col justify-center p-24">
    <h2 class="justify-self-start font-bold text-[2.5rem] tracking-wide">
      High-Quality Home Furniture
    </h2>
    <h4 class="">
      Find the Perfect Furniture for Your Home Good things don’t have to come
      from afar.
    </h4>
    <p class="step-description">
      Using sustainable Australian timbers and passionate local designers Naco
      aims to produce the highest quality, affordable furniture for the people
      it’s surrounded and inspired by every day. Why not explore our store
    </p>
  </div>
</div>
