@if (singleProduct$ | async; as product) {
{{ product.id }}

<section class="align-element py-10">
  <!-- breadcrumbs -->
  <div class="text-md breadcrumbs">
    <ul>
      <li>
        <a routerLink="/">Home </a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
    </ul>
  </div>

  <!--  SINGLE PRODUCT -->
  <div class="mt-6 grid gap-y-8 lg:grid-cols-2 lg:gap-x-16">
    <!--  IMAGE -->
    <img
      src="/assets/example.jpeg"
      alt="{title}"
      class="w-96 h-96 object-cover rounded-lg lg:w-full"
    />

    <!--  PRODUCT -->
    <div>
      <h1 class="capitalize text-3xl font-bold">{{ product.name }}</h1>
      <h4 class="text-xl text-neutral-content font-bold mt-2">ccccccc</h4>
      <p class="mt-3 text-xl">12</p>
      <p class="mt-6 leading-8">dsadsa</p>

      <!--  COLORS -->
      <div class="mt-6">
        <h4 class="text-md font-medium tracking-wider capitalize">colors</h4>
        <div class="mt-2">
          <button key="{color}" type="button" class=""></button>
        </div>
      </div>

      <!--  AMOUNT -->
      <div class="form-control w-full max-w-xs">
        <label class="label" htmlFor="amount">
          <h4 class="text-md font-medium -tracking-wider capitalize">amount</h4>
        </label>
        <select
          class="select select-secondary select-bordered select-md"
          id="amount"
          value="{amount}"
          onChange="{handleAmount}"
        >
          312321
        </select>
      </div>

      <!--  CART BTN -->
      <div class="mt-10">
        <button class="btn btn-secondary btn-md" onClick="{addToCart}">
          Add to bag
        </button>
      </div>
    </div>
  </div>
</section>
}
