<div class="bg-accent/40 p-24 py-32">
  <div class="border-b border-base-content pb-5">
    <h2 class="text-3xl font-medium tracking-wider capitalize">
      Bestseller Products
    </h2>
  </div>

  <div class="pt-12 grid gap-4 md:grid-cols-2 lg:grid-cols-3">
    <a
      key="{product.id}"
      class="card w-full shadow-xl hover:shadow-2xl transition duration-300"
    >
      <figure class="px-4 pt-4">
        <img
          src="/assets/example.jpeg"
          alt="title"
          class="rounded-md h-64 md:h-48 w-full object-cover"
        />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title capitalize tracking-wider">title</h2>
        <span class="text-secondary">12 dolar</span>
      </div>
    </a>
    <!--  -->
    <a
      key="{product.id}"
      class="card w-full shadow-xl hover:shadow-2xl transition duration-300"
    >
      <figure class="px-4 pt-4">
        <img
          src="/assets/example.jpeg"
          alt="title"
          class="rounded-md h-64 md:h-48 w-full object-cover"
        />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title capitalize tracking-wider">title</h2>
        <span class="text-secondary">12 dolar</span>
      </div>
    </a>
    <!--  -->
    <a
      key="{product.id}"
      class="card w-full shadow-xl hover:shadow-2xl transition duration-300"
    >
      <figure class="px-4 pt-4">
        <img
          src="/assets/example.jpeg"
          alt="title"
          class="ring rounded-md h-[18rem] hover:scale-110 duration-300 transition-all"
        />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title capitalize tracking-wider">title</h2>
        <span class="text-secondary">12 dolar</span>
      </div>
    </a>
  </div>
</div>
