<div class="mt-12 grid gap-y-8">
  <a
    key="{product.id}"
    class="p-8 rounded-lg flex flex-col sm:flex-row gap-y-4 flex-wrap bg-base-100 shadow-xl hover:shadow-2xl duration-300 group"
  >
    <img
      src="{image}"
      alt="{title}"
      class="h-24 w-24 rounded-lg sm:h-32 sm:w-32 object-cover group-hover:scale-105 transition duration-300"
    />
    <div class="ml-0 sm:ml-16">
      <h3 class="capitalize font-medium text-lg">ttt</h3>
      <h4 class="capitalize text-md text-neutral-content">ccc</h4>
    </div>
    <p class="font-medium ml-0 sm:ml-auto text-lg">12</p>
  </a>
</div>
