<section class="grid place-items-center my-12">
  <form
    method="post"
    class="card w-96 p-8 bg-base-100 shadow-lg flex flex-col gap-y-4"
  >
    <h4 class="text-center text-3xl font-bold">Login</h4>
    <div class="form-control">
      <input
        type="text"
        name="email"
        placeholder="Email"
        class="input input-bordered"
      />
      <input
        type="text"
        name="email"
        placeholder="Password"
        class="input input-bordered"
      />
    </div>
    <div class="mt-4">
      <button class="btn btn-primary btn-block">Login</button>
    </div>
    <button
      type="button"
      class="btn btn-secondary btn-block"
      onClick="{loginAsGuestUser}"
    >
      guest user
    </button>
    <p class="text-center">
      <a to="/register" class="ml-2 link link-hover link-primary capitalize">
        register
      </a>
    </p>
  </form>
</section>
