<nav class="bg-base-100">
  <div class="navbar align-element">
    <div class="navbar-start">
      <!-- LOGO -->

      <a routerLink="/">
        <img src="assets/logo.png" alt="Hyper" class="h-12 w-12" />
      </a>
    </div>

    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal">
        <a
          class="mr-3"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >eee</a
        >
        <a
          routerLink="/products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >pro</a
        >
      </ul>
    </div>

    <div class="navbar-end"></div>
  </div>
</nav>
