<div class="grid grid-cols-1 md:grid-cols-4 md:h-[12rem] bg-base-100">
  <div
    class="flex items-center border border-r-base-300 hover:border-accent hover:bg-accent/30 transition-all duration-300 p-2 md:p-0"
  >
    <div class="mb-3 ml-3">
      <!--  -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon text-secondary/90"
        viewBox="0 0 512 512"
        width="3em"
        height="3em"
      >
        <rect
          x="32"
          y="96"
          width="64"
          height="368"
          rx="16"
          ry="16"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M112 224h128M112 400h128"
        />
        <rect
          x="112"
          y="160"
          width="128"
          height="304"
          rx="16"
          ry="16"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <rect
          x="256"
          y="48"
          width="96"
          height="416"
          rx="16"
          ry="16"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <path
          d="M422.46 96.11l-40.4 4.25c-11.12 1.17-19.18 11.57-17.93 23.1l34.92 321.59c1.26 11.53 11.37 20 22.49 18.84l40.4-4.25c11.12-1.17 19.18-11.57 17.93-23.1L445 115c-1.31-11.58-11.42-20.06-22.54-18.89z"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"
        />
      </svg>
    </div>
    <div class="ml-3">
      <div class="text-2xl text-secondary-content capitalize font-bold mb-2">
        Plan your furniture
      </div>
      <div class="text-secondary-content/80">
        Design and create your unique customised furniture piece in just a few
        simple steps.
      </div>
    </div>
  </div>

  <div
    class="flex items-center border border-r-base-300 hover:border-accent hover:bg-accent/30 transition-all duration-300 p-2 md:p-0"
  >
    <div class="mb-3 ml-4">
      <!--  -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon text-secondary/90"
        viewBox="0 0 512 512"
        width="3em"
        height="3em"
      >
        <rect
          x="80"
          y="112"
          width="352"
          height="192"
          rx="32"
          ry="32"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <rect
          x="80"
          y="304"
          width="352"
          height="128"
          rx="32"
          ry="32"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <path
          d="M400 112H112a32.09 32.09 0 01-32-32h0a32.09 32.09 0 0132-32h288a32.09 32.09 0 0132 32h0a32.09 32.09 0 01-32 32zM144 432v22a10 10 0 01-10 10h-28a10 10 0 01-10-10v-22zM416 432v22a10 10 0 01-10 10h-28a10 10 0 01-10-10v-22z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <circle
          cx="368"
          cy="368"
          r="16"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <circle
          cx="144"
          cy="368"
          r="16"
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M256 112v192M80 80v288M432 80v288"
        />
      </svg>
    </div>
    <div class="ml-2 p-1">
      <div class="text-2xl text-secondary-content capitalize font-bold mb-2">
        Risk-free delivery
      </div>
      <div class="text-secondary-content/80">
        We deliver your exciting new furniture piece efficiently and safely.
      </div>
    </div>
  </div>

  <div
    class="flex items-center border border-r-base-300 hover:border-accent hover:bg-accent/30 transition-all duration-300 p-2 md:p-0"
  >
    <div class="mb-3 ml-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon text-secondary/90"
        viewBox="0 0 512 512"
        width="3em"
        height="3em"
      >
        <path
          d="M393.87 190a32.1 32.1 0 01-45.25 0l-26.57-26.57a32.09 32.09 0 010-45.26L382.19 58a1 1 0 00-.3-1.64c-38.82-16.64-89.15-8.16-121.11 23.57-30.58 30.35-32.32 76-21.12 115.84a31.93 31.93 0 01-9.06 32.08L64 380a48.17 48.17 0 1068 68l153.86-167a31.93 31.93 0 0131.6-9.13c39.54 10.59 84.54 8.6 114.72-21.19 32.49-32 39.5-88.56 23.75-120.93a1 1 0 00-1.6-.26z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
        />
        <circle cx="96" cy="416" r="16" />
      </svg>
    </div>
    <div class="ml-3">
      <div class="text-2xl text-secondary-content capitalize font-bold mb-2">
        Measure + Fit warranty
      </div>
      <div class="text-secondary-content/80">
        Every order is secured against measurement mistakes.
      </div>
    </div>
  </div>

  <div
    class="flex items-center border border-r-base-300 hover:border-accent hover:bg-accent/30 transition-all duration-300 p-2 md:p-0"
  >
    <div class="mb-3 ml-4">
      <!--  -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon text-secondary/90"
        viewBox="0 0 512 512"
        height="3em"
        width="3em"
      >
        <rect
          x="48"
          y="96"
          width="416"
          height="320"
          rx="56"
          ry="56"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
        />
        <path
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="60"
          d="M48 192h416M128 300h48v20h-48z"
        />
      </svg>
    </div>
    <div class="ml-3">
      <div class="text-2xl text-secondary-content capitalize font-bold mb-2">
        Order securely
      </div>
      <div class="text-secondary-content/80">
        An encrypted website, trusted payment methods.
      </div>
    </div>
  </div>
</div>
