<footer class="bg-accent px-12 py-2 overflow-hidden">
  <div class="container mx-auto">
    <div
      class="flex flex-col lg:flex-row space-y-6 lg:space-y-0 items-center justify-between"
    >
      <a routerLink="/" class="flex items-center">
        <img src="assets/logo.png" alt="Hyper" class="h-12 w-12" />
        <span class="text-2xl font-extrabold font-sans text-accent-content"
          >HYPER</span
        >
      </a>

      <p class="md:mr-8">&copy; 2024 Serhat Karadağ. All rights reserved.</p>

      <div class="text-2xl font-signature text-white">icon git</div>
    </div>
  </div>
</footer>
