<a
  (click)="navigateSingle()"
  class="card w-full shadow-xl hover:shadow-2xl transition duration-300 cursor-pointer"
>
  <figure class="px-4 pt-4">
    <img
      crossorigin="anonymous"
      src="{{ img }}"
      alt="{{ name }}"
      class="rounded-xl h-64 md:h-48 w-full object-cover"
    />
  </figure>
  <div class="card-body items-center text-center text-base-content">
    <h2 class="card-title capitalize tracking-wider text-[1rem]">
      {{ name }}
    </h2>
    <span class=""> {{ price | formatPrice }} </span>
  </div>
</a>
