@if(products$ | async; as products) {
<div class="mt-12 align-element">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-12">
    <div class="stats shadow rounded-sm">
      <div class="stat flex flex-col justify-center items-center">
        <div class="flex flex-row gap-12 items-center justify-between">
          <div class="stat-value">{{ products.products.length }}</div>
          <div class="stat-value grid place-items-center text-2xl">
            <i
              class="fas fa-dumpster bg-primary/70 text-primary-content rounded-box h-[4rem] w-[4rem] grid place-items-center"
            ></i>
          </div>
        </div>
        <div class="stat-title">Total Products</div>
      </div>
    </div>

    <!--  table -->

    <div class="overflow-x-auto col-span-2">
      <table class="table table-sm table-zebra-zebra">
        <thead class="">
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Category</th>
            <th>Price</th>
            <th class="">Details</th>
          </tr>
        </thead>
        <tbody>
          @for(product of products.products; track product.id) {
          <tr class="capitalize" key="{id}">
            <td>{{ product.name }}</td>
            <td>{{ product.company }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price | formatPrice }}</td>
            <th class="">
              <div class="flex gap-3">
                <button
                  routerLink="/admin/products"
                  class="btn btn-xs btn-info"
                >
                  Details
                </button>
              </div>
            </th>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

}
