<section class="align-element pt-20">
  <form
    class="bg-base-300 rounded-md px-8 py-4 grid gap-x-4 gap-y-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center"
  >
    <!-- SEARCH -->
    <div class="form-control">
      <label class="label">
        <span class="label-text capitalize">search product</span>
      </label>
      <input
        type="search"
        name="search"
        class="input input-bordered input-sm"
      />
    </div>

    <!-- CATEGORIES -->
    <div class="form-control">
      <label class="label">
        <span class="label-text capitalize">select category</span>
      </label>
      <select
        name="category"
        id="category"
        class="select select-bordered select-sm"
      >
        <option key="" value="">1</option>
        <option key="" value="">2</option>
      </select>
    </div>

    <!--COMPANIES  -->
    <div class="form-control">
      <label class="label">
        <span class="label-text capitalize">select company</span>
      </label>
      <select
        name="category"
        id="category"
        class="select select-bordered select-sm"
      >
        <option key="" value="">1</option>
        <option key="" value="">2</option>
      </select>
    </div>

    <!-- ORDER  -->
    <div class="form-control">
      <label class="label">
        <span class="label-text capitalize">sort by</span>
      </label>
      <select
        name="category"
        id="category"
        class="select select-bordered select-sm"
      >
        <option key="" value="">1</option>
        <option key="" value="">2</option>
      </select>
    </div>

    <!-- PRICE  -->
    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text capitalize">select price</span>
        <span>123</span>
      </label>
      <input
        type="range"
        name="price"
        min="{0}"
        max="150"
        class="range range-accent range-sm"
      />
      <div class="w-full flex justify-between text-xs px-2 mt-2 range-sm">
        <span class="font-bold text-md">0</span>
        <span class="font-bold text-md">Max : 1232</span>
      </div>
    </div>

    <!-- SHIPPING  -->
    <div class="form-control items-center lg:mb-[1rem]">
      <label htmlFor="checkbox" class="label cursor-pointer">
        <span class="label-text capitalize">free shipping</span>
      </label>
      <input
        type="checkbox"
        name="checkbox"
        class="checkbox checkbox-accent border-2 border-accent checkbox-sm"
      />
    </div>

    <!-- BUTTONS  -->
    <button
      type="submit"
      class="btn border-0 bg-accent/70 hover:bg-accent/90 btn-sm capitalize text-accent-content"
    >
      search
    </button>
    <a
      to="/products"
      class="btn border-0 bg-secondary/50 hover:bg-secondary/70 btn-sm capitalize text-secondary-content"
    >
      reset
    </a>
  </form>
</section>

<!-- PRODUCTS CONTAINER -->
<section class="align-element">
  <div
    class="flex justify-between items-center mt-8 border-b border-base-300 pb-5"
  >
    <h4 class="font-medium text-md">22 pro totals</h4>
    <div class="flex gap-x-2">
      <button>icon</button>
    </div>
  </div>

  <!-- GRID CONTAINER -->
  <div class="grid grid-cols-2 md:grid-cols-4 py-8">
    <a
      routerLink="/products"
      class="card shadow-xl hover:shadow-2xl transition-all duration-300 h-fit w-fit rounded-md border-2 border-accent-content/10"
    >
      <figure class="">
        <img src="/assets/hero.jpeg" alt="a" class="object-cover" />
      </figure>
      <div class="card-body items-center text-center bg-accent/10">
        <h2 class="card-title capitalize tracking-wider">avs</h2>
        <div class="">12 dolar</div>
      </div>
    </a>
  </div>
</section>

<!-- PAGINATION CONTAINER -->
<section class="align-element pb-12">
  <div class="mt-16 flex justify-end">
    <div class="join">
      <button
        class="btn btn-xs sm:btn-md join-item bg-accent hover:bg-accent/70"
      >
        Prev
      </button>

      <button
        key=""
        className="btn btn-xs sm:btn-md border-none join-item 
      "
      >
        1122
      </button>

      <button
        class="btn btn-xs sm:btn-md join-item bg-accent hover:bg-accent/70"
      >
        Next
      </button>
    </div>
  </div>
</section>
