<section class="bg-secondary/5 grid lg:grid-cols-[55fr,45fr] p-12">
  <div class="p-12">
    <h3
      class="text-[1.6rem] text-primary uppercase tracking-tighter font-semibold mb-3"
    >
      Testimonials
    </h3>
    <h3
      class="text-[2.2rem] md:text-[3.4rem] tracking-tighter leading-none mb-[4.6rem]"
    >
      &#8220;Once you try it, you can't go back&#8221;
    </h3>

    <div class="grid grid-cols-[1fr,1fr]">
      <figure class="testimonial">
        <img
          class=""
          alt="Photo of customer Dave Bryson"
          src="/assets/hero.jpeg"
        />
        <blockquote class="testimonial-text">
          Inexpensive, healthy and great-tasting meals, without even having to
          order manually! It feels truly magical.
        </blockquote>
        <p class="testimonial-name">&mdash; Dave Bryson</p>
      </figure>

      <figure class="testimonial">
        <img
          class=""
          alt="Photo of customer Ben Hadley"
          src="/assets/hero.jpeg"
        />
        <blockquote class="testimonial-text">
          The AI algorithm is crazy good, it chooses the right meals for me
          every time. It's amazing not to worry about food anymore!
        </blockquote>
        <p class="testimonial-name">&mdash; Ben Hadley</p>
      </figure>
    </div>
  </div>

  <div class="tiles">
    <div class="tiles-center grid gap-6 sm:grid-cols-[1fr,1fr] sm:gap-[2rem]">
      <!-- single tile -->
      <article class="tile-1">
        <img src="/assets/hero.jpeg" alt="" />
      </article>
      <!-- end of single tile -->
      <!-- single tile -->
      <article class="tile-2">
        <img src="/assets/hero.jpeg" alt="" class="" />
      </article>
      <!-- end of single tile -->
      <!-- single tile -->
      <article class="tile-3">
        <img src="/assets/hero.jpeg" alt="" />
      </article>
      <!-- end of single tile -->
      <!-- single tile -->
      <article class="tile-4">
        <img src="/assets/hero.jpeg" alt="" />
      </article>
      <!-- end of single tile -->
    </div>
  </div>
</section>
