<section class="bg-secondary/5 grid lg:grid-cols-[55fr,45fr] p-12">
  <div class="p-12">
    <h3
      class="text-[1.6rem] text-primary/70 tracking-wide uppercase font-semibold mb-3"
    >
      Testimonials
    </h3>
    <h3
      class="text-[2.2rem] md:text-[3.1rem] tracking-tighter leading-none mb-[4.6rem]"
    >
      &#8220;0 waste, fast and attentive service!&#8221;
    </h3>

    <div class="grid grid-cols-[1fr,1fr]">
      <figure class="testimonial">
        <div class="avatar">
          <div
            class="w-16 rounded-full ring ring-primary/50 ring-offset-inherit ring-offset-2 mb-5 hover:ring-offset-0 transition-all duration-300"
          >
            <img
              src="/assets/testimonial-img/testimonial-profile-1.jpg"
              class="hover:scale-110 duration-300 transition-all"
            />
          </div>
        </div>
        <blockquote class="testimonial-text">
          Very pretty modular bookcase at an unbeatable price. The installation
          experience was very pleasant for me, 0 waste, fast and attentive
          service!
        </blockquote>
        <p class="testimonial-name mt-[-.5rem]">&mdash; Katerina A.</p>
      </figure>

      <figure class="testimonial">
        <div class="avatar">
          <div
            class="w-16 rounded-full ring ring-primary/50 ring-offset-inherit ring-offset-2 mb-5 hover:ring-offset-0 transition-all duration-300"
          >
            <img
              src="/assets/testimonial-img/testimonial-profile-2.jpg"
              class="hover:scale-110 duration-300 transition-all"
            />
          </div>
        </div>
        <blockquote class="testimonial-text">
          Happy owner of 2 bookcases from your home, we have just moved and I
          was able to combine them into 1 absolutely splendid corner bookcase.
        </blockquote>
        <p class="testimonial-name mt-[-.5rem]">&mdash; Bruno T.</p>
      </figure>
    </div>
  </div>

  <div class="tiles">
    <div class="tiles-center grid gap-6 sm:grid-cols-[1fr,1fr] sm:gap-[2rem]">
      <!-- single tile -->
      <article class="tile-1">
        <img
          src="/assets/testimonial-img/testimonial-tiles-1.jpg"
          alt="tiles-1"
          class="opacity-90 object-left"
        />
      </article>
      <!-- end of single tile -->
      <!-- single tile -->
      <article class="tile-2">
        <img
          src="/assets/testimonial-img/testimonial-tiles-2.jpg"
          alt="tiles-2"
          class="opacity-90"
        />
      </article>
      <!-- end of single tile -->
      <!-- single tile -->
      <article class="tile-3">
        <img
          src="/assets/testimonial-img/testimonial-tiles-3.jpg"
          alt="tiles-3"
          class="opacity-90 object-bottom"
        />
      </article>
      <!-- end of single tile -->
      <!-- single tile -->
      <article class="tile-4">
        <img
          src="/assets/testimonial-img/testimonial-tiles-4.jpg"
          alt="tiles-4"
          class="opacity-90"
        />
      </article>
      <!-- end of single tile -->
    </div>
  </div>
</section>
