@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }

  .active-auth {
    @apply bg-accent/30;
  }

  .active-navbar {
    @apply bg-accent;
  }

  .disabled-btn {
    @apply disabled:bg-accent/60 disabled:hover:bg-accent/70 disabled:text-accent-content/60 disabled:hover:text-accent-content;
  }

  .navbar-btn {
    @apply btn btn-ghost btn-sm text-accent-content font-medium px-4;
  }
}
body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Lora", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
