@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply px-12;
  }

  .section {
    @apply py-12 lg:py-32;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Lora", sans-serif;
}
