@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }

  .active-auth {
    @apply bg-accent/30;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Lora", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
