<div class="bg-primary/15 grid grid-cols-1 lg:grid-cols-2 items-center aaa">
  <!-- STEP 01 -->
  <div class="flex flex-col gap-3 p-24 h-full text-right">
    <h2 class="font-bold text-[2rem] tracking-wide mt-4">
      High-Quality Home Furniture
    </h2>
    <p class="step-description mt-[3rem] w-10/12 ml-auto">
      Using sustainable timbers and passionate local designers aims to produce
      the highest quality, affordable furniture for the people it’s surrounded
      and inspired by every day. Why not explore our store.
    </p>
    <a routerLink="/products" class=""
      ><button class="btn w-64 mt-14 text-right uppercase tracking-wider">
        explore our store
      </button></a
    >
  </div>

  <div
    class="group step-img-box relative h-[37rem] overflow-hidden flex-1 object-fill hover:bg-opacity-40"
  >
    <a routerLink="/products">
      <img
        src="/assets/details-img2.jpg"
        class="h-full hover:opacity-70 transition-all duration-300 opacity-90 brightness-75 object-cover object-right"
        alt=""
      />
      <span
        class="font-bold text-base-content text-2xl absolute left-[-22rem] bottom-[10rem] group-hover:left-[4.8rem] hover:font-extrabold hover:text-info transition-all duration-500"
      >
        Decorative Bookcase
      </span>
      <div
        class="font-extrabold text-base-content text-2xl absolute left-[-22rem] bottom-[8rem] group-hover:left-[5rem] hover:font-extrabold hover:text-info transition-all duration-300"
      >
        635,00 €
      </div>
      <button
        class="btn bg-accent hover:bg-accent/90 border-0 absolute left-[4rem] bottom-[-22rem] group-hover:bottom-12 w-[22rem] rounded-full transition-all duration-300 capitalize"
      >
        See Products
      </button>
    </a>
  </div>

  <!-- STEP 02 -->
  <div
    class="step-img-box relative h-[37rem] overflow-hidden group flex-1 object-fill"
  >
    <a routerLink="/products">
      <!-- style="background: right / cover no-repeat url(/assets/hero.jpeg)" -->
      <img
        src="/assets/details-img1.jpg"
        class="h-full hover:opacity-70 transition-all duration-300 brightness-75"
        alt=""
      />
      <div
        class="font-bold text-base-content text-2xl absolute right-[4rem] top-[-22rem] group-hover:top-[5rem] hover:font-extrabold hover:text-info transition-all duration-500"
      >
        Wooden Bookcase
      </div>
      <div
        class="font-extrabold text-base-content text-2xl absolute top-[-22rem] right-[4rem] group-hover:top-[8rem] hover:font-extrabold hover:text-info transition-all duration-300"
      >
        846,00 €
      </div>
      <button
        class="btn bg-accent hover:bg-accent/90 border-0 absolute right-[-22rem] top-[12rem] group-hover:right-12 w-[22rem] rounded-full transition-all duration-300"
      >
        See Products
      </button>
    </a>
  </div>

  <div class="flex flex-col gap-3 p-24 h-full text-left">
    <h2 class="font-bold text-[2rem] tracking-wide mt-4">
      A Perfect Space-Saving Solution
    </h2>
    <p class="step-description mt-[3rem] w-10/12">
      Find your ergonomic match with our interactive quiz, designed to identify
      the ideal performance seating for your body type, living space, and work
      style. Discover our bookcases.
    </p>
    <a routerLink="/products" class=""
      ><button class="btn w-64 mt-14 uppercase tracking-wider">
        explore our store
      </button></a
    >
  </div>
</div>
