<div class="grid lg:grid-cols-2 min-h-[593px]">
  <!-- HERO img -->
  <div class="hidden lg:flex">
    <img src="/assets/hero.jpeg" alt="" />
  </div>

  <!-- HERO text -->
  <div class="flex flex-col justify-center items-center bg-base-200">
    <h1 class="max-w-2xl tracking-wide text-4xl sm:text-6xl font-medium">
      <span class="m-7 md:m-12">365 NEW</span>
      <br />
      REASONS TO
      <br />
      <span class="m-4 md:m-6">GET AWAY</span>
    </h1>
    <p class="mt-8 text-lg leading-8 px-4">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore repellat
      explicabo enim
      <span class="md:block text-center">
        soluta temporibus asperiores aut obcaecati perferendis porro nobis.
      </span>
    </p>
    <div class="mt-10">
      <a
        to="/products"
        class="btn btn-neutral text-neutral-content text-sm font-light rounded-md ml-[-2rem] uppercase"
      >
        Our Products
      </a>
    </div>
  </div>
</div>
